/*  --cor-amarelo: rgb(255,194,52);
    --cor-marrom: rgb(63,31,9);
    --cor-vermelho: rgb(233,28,28);*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    color: white;
    --cor-primaria: #ff6311;
    --cor-secundaria: #2c2b2b; 
    --sombra: rgba(0, 0, 0, 0.486);
}

/*  -- formatação geral --  */
h1, h2, button, .header-nav-list{
    text-transform: uppercase;
}

ul{
    display: flex;
}

button{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px var(--sombra)x
}

/*  -- padronizacao --  */
.button1{
    width: 170px;
    border-radius: 2px;
    margin: 8px;
    margin-top: 10px;
    background-color: var(--cor-secundaria);
}

.margin1{
    margin: 2.5px 5px; /*criar variavel*/
}

.dispflex-column-center{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/*  -- header --  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--cor-secundaria);
}

.header-logo{
    width: 60px;
}

.header-nav > ul{
    display: flex;
    gap: 15px;
}

/*  -- banner --  */
.banner{
    background-color: brown;
    display: flex;
    padding: 120px 0px 30px 30px;
    background-image: url(img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; /*criar variavel para background*/
}

.banner-text-area{  
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-linkbutton{
    padding: 10px;
    padding-left: 0px;
}

.banner-linkbutton > button{
    background-color: var(--cor-primaria);
}

/*  -- sec-dancetour --  */
.sec-dancetour{
    background-color: var(--cor-primaria);
    padding: 50px;
}

.sec-dancetour > p{
    padding: 30px;
    padding-top: 10px;
    text-align: center;
}

.dancetour-cards{
    display: flex;
    gap: 20px; /*criar variavel*/;
}

/*  -- dancetour-card --  */
.dancetour-card{
    padding-top: 200px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.dancetour-imgcard{
    width: 100%;
    margin: 0px;
}

.imgcard-textarea{
    background-color: var(--cor-secundaria);
    text-align: center; /*juntar com outros cards, criar variavel 'card'*/
    padding: 10px;
}

/*  -- sec-princing --  */
.sec-pricing{
    background-color: var(--cor-secundaria);
    padding: 50px;
}

.sec-pricing > p{ /*criar variavel comum 01*/
    text-align: center;
    margin: 35px;
}

.pricing-cards{
    display: flex;
    gap: 20px; /*criar variável*/
}

.pricing-card{
    background-color: var(--cor-primaria);
    padding: 10px;
    padding-top: 140px;
    width: 200px; /*modificar*/
    /*colocar fonte condensada*/
    /*juntar com outros cards, criar variavel 'card'*/
}

/*  -- sec-readmore --  */
.sec-readmore{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
}

.div-amazingdance, .div-bestdance{
    display: flex;
}

.sec-amazingdance, .sec-bestdance, .readmore-img{
    width: 50%;
    padding: 120px 70px;
}

.readmore-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; /*criar variavel para background*/}

.amazingdance-img{
    background-image: url(img/sec3-im1.png);
}

.bestdance-img{
    background-image: url(img/sec3-im2.png);
}

/*  -- sec-ourstatistcs --  */
.sec-ourstatistcs{
    background-color: var(--cor-secundaria);
    padding: 50px;
}

.sec-ourstatistcs > p{ /*criar variavel comum 01*/
        text-align: center;
        margin: 35px;
}

.ourstatistics-cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/*  -- sec-citacao-hebertsimon --  */
.sec-citacao-hebertsimon{
    padding: 150px 100px;
    background-image: url(img/sec-4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; /*criar variavel para background*/
}

.sec-citacao-hebertsimon > p{
    margin: 20px;
    text-align: center;
}

.nome-autor{
    text-transform: uppercase;
}

/*  -- sec-cadastro --  */
.sec-cadastro{
    padding: 100px;
    background-color: var(--cor-primaria);
}

.sec-cadastro > p{
    text-align: center;
}

.search-area{
    display: flex;
}

.search-area > button{
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 0px;
}

footer{
    background-color: var(--cor-secundaria);
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
}

.footer-apresentation{
    width: 40%;
}

.footer-nav{
    width: 60%;
}

.footer-nav > ul{
    display: flex;
    gap: 15px;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
}

.footer-nav-list > li{
    text-transform: capitalize;
}
